<div class="row">
   <div class="container">
      <div >

          <h1>Login with Email</h1>
          <br />

          <%= form_tag('login', method: "post", class: "form-group col-xs-6") do %>
            <%= email_field_tag :email, class: "form-control", placeholder: "Email"%>
            <br />
            <%= password_field_tag :password, :class => "form-control" %>
            <br>
            <%= submit_tag "Login", class: 'btn btn-info' %>
          <% end %>
            <h1>Login with Facebook
            </h1><%= link_to "/auth/facebook" do %>
            <br />
            <div class="btn btn-primary btn-lg">
               Sign up with Facebook
             </div>
          <% end %>
       </div>
   </div>
</div>
