<div class="row">
   <div class="container">
        <div class="text-center col-lg-6 col-lg-offset-3">
          <h1>Login with Email</h1>
          <br />
          <%= form_tag('login', method: "post") do %>
            <p class="well box">Email: <%= email_field_tag :email, :class => "input" %></p>
            <br />
            <p class="well box">Password: <%= password_field_tag :password, :class => "input" %></p>
            <p><%= submit_tag "Login", class: 'btn btn-info' %></p>
          <% end %>

          <h1>Login with Facebook</h1>
              <%= link_to "/auth/facebook" do %>
              <br />
                <div class="btn btn-primary btn-lg">
                  Sign up with Facebook
                </div>
              <% end %>
        </div>
   </div>
</div>
