<!-- Flash messages -->
<%= render 'layouts/flash' %>
<!-- end of flash messages -->

<h1>Edit Profile</h1>
<%= form_for @user do |f| %>
  <p><%= f.label :name %>: <%= f.text_field :name %> </p>
  <p>Profile Pic: <%= f.file_field :profile_picture %></p>
  <p><%= f.label :email %>: <%= f.email_field :email %></p>
  <p><%= f.label :password %>: <%= f.password_field :password %></p>
  <p><%= f.label :password_confirmation %>: <%= f.password_field :password_confirmation %></p>
  <p><%= f.submit "Update Account" %></p>
<% end %>