
  <div class="row">
      <div class="fbBox">
      <!-- Facebook Login -->
        <div class="col-md-6">
          <h3 class='orangetxt'>Sign up for Trippy</h3>
          <h5 class='grey'>Connect and see the world</h5>
            <%= link_to "/auth/facebook" do %>
              <div class="btn btn-primary btn-lg">
                Sign up with Facebook
              </div>
            <% end %>
            <p>Don't worry, we never post without permission</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-lg-offset-1">
        <h1>Sign Up</h1>
        <%= form_for @user do |f| %>
          <br> <%= f.text_field :name, placeholder:'Name', class:'form-control' %>
          <br> <%= f.text_field :username, placeholder:'Username', class:'form-control' %>
          <br> <%= f.email_field :email, placeholder:'Email', class:'form-control' %>
          <br> <%= f.password_field :password, placeholder:'Password', class:'form-control' %>
          <br> <%= f.password_field :password_confirmation, placeholder:'Password Confirmation', class:'form-control' %><br>
          <p><%= f.submit "Create Account", class: "orange btn" %></p>
        <% end %>
      </div>
      <%= image_tag "phones.png", class: 'col-lg-offset-2'%>

    </div>


  </div>
