<!-- Flash messages -->
<%= render 'layouts/flash' %>
<!-- end of flash messages -->
<h1>New Location</h1>
  <%= form_for @location do |f| %>
  <%= f.label :name %> <%= f.text_field :name %>
  <%= f.label :address %> <%= f.text_field :address %>
  <%= f.label :yelp_id %> <%= f.text_field :yelp_id %>
  <%= f.submit %>
<% end %>

<%= link_to "Back", locations_path %>