<h1><%= @location.name %></h1>

<p><strong>Address</strong>
<%= @location.address %>
</p>
<p><strong>Longitude</strong>
<%= @location.longitude %>
</p>
<p><strong>Latitude</strong>
<%= @location.latitude %>

</p>

<h2>Reviews</h2>
<% @location.reviews.each do |review| %>
  <p>Name: <%= User.find(review.user_id).username || User.find(review.user_id).name %></p>
  <p>Rating: <%= review.rating %></p>
  <p>Content: <%= review.content %></p>
  <p><%= image_tag review.photo.url if review.photo? %></p>
<% end %>

<%= link_to "Add Review", reviews_new_path %>

<%= link_to "Go Back", locations_path %>
